<div class='container'>
    <div class='about__inner'>
        <div class="about__gallery">
            <div class="about__gallery-img">
                <img src="img/gallery.webp" alt="">
            </div>
            <div class="about__gallery-img">
                <img src="img/gallery2.webp" alt="">
            </div>
            <div class="about__gallery-img">
                <img src="img/gallery3.webp" alt="">
            </div>
            <div class="about__gallery-img">
                <img src="img/gallery4.webp" alt="">
            </div>
            <button class="about__btn btn btn-light-blue">смотреть все фото</button>
        </div>
        <div class="about__info">
            <h2 class="about__title display2">О клинике</h2>
            <div class="about__desc">
                <p>Центр профессиональной стоматологии заботится о вашем здоровье уже более 20 лет. Это значит, что прием ведут доктора, у которых проходят повышение квалификации врачи-стоматологи из Москвы и других городов РФ.</p>
                <p>Врачи нашего Центра — это высококвалифицированные специалисты с большим опытом работы, учеными степенями, постоянно участвующие в российских и международных конгрессах, симпозиумах и семинарах. Наши доктора успешно совмещают лечебный процесс
                    с научно-исследовательской работой, непосредственно внедряя передовые технологии в повседневную практику.</p>
            </div>
        </div>
    </div>
</div>