<div class="doctor-card">
    <div class="doctor-card__inner">
        <a href="" class="doctor-card__img">
            <img src="@@img" alt="">
        </a>
        <a href="" class="doctor-card__title">Иванов Иван Иванович</a>
        <div class="doctor-card__prof">Стоматолог-хирург, ортопед</div>
        <div class="doctor-card__expirience">стаж 10 лет</div>
        <button class="doctor-card__btn btn btn-light-blue">
            <span>Записаться онлайн</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.75 1.21875L4.125 1.8125C4 1.96875 4 2.21875 4.125 2.34375L9.78125 8L4.125 13.6875C4 13.8125 4 14.0625 4.125 14.2188L4.75 14.8125C4.90625 14.9688 5.125 14.9688 5.28125 14.8125L11.8438 8.28125C11.9688 8.125 11.9688 7.90625 11.8438 7.75L5.28125 1.21875C5.125 1.0625 4.90625 1.0625 4.75 1.21875Z" fill="white"/>
            </svg>
        </button>
    </div>
</div>