<div class="feedback-card2">
    <div class="feedback-card2__left">
        <span class="feedback-card2__title">Отзыв врачу</span>
        <span class="feedback-card2__doctor">Константинову К. А. </span>
        <div class="feedback-card2__img">
            <img src="img/feedback.jpg" alt="">
        </div>
    </div>
    <div class="feedback-card2__right">
        <div class="feedback-card2__top">
            <span class="feedback-card2__name">Константин К.</span>
            <span class="feedback-card2__date">12.12.2022</span>
        </div>
        <div class="feedback-card2__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus integer ipsum tortor, nulla et accumsan. Accumsan lorem eget volutpat, aliquet massa vulputate. Tortor sed tortor sodales diam nunc, non nam. Enim tellus egestas et ornare. Donec lorem nunc
            etiam habitant libero eu natoque. At neque odio tempor orci mauris morbi fermentum phasellus suspendisse. Sit mattis urna at blandit dolor, semper ullamcorper.
        </div>
        <div class="feedback-card2__by">
            Источник <a href="">Prodoctorov.ru</a>
        </div>
    </div>
</div>