<div class='container container--small'>
    <h2 class="services__title display2">Услуги</h2>
    <div class="services__items">
        <a href="" class="services__item">
            <img src="img/service.svg" alt="">
            <span>Имплантация зубов</span>
        </a>
        <a href="" class="services__item">
            <img src="img/service6.svg" alt="">
            <span>Лечение кист</span>
        </a>
        <a href="" class="services__item">
            <img src="img/service12.svg" alt="">
            <span>Удаление зубов без боли</span>
        </a>
        <a href="" class="services__item">
            <img src="img/service.svg" alt="">
            <span>Протезирование зубов</span>
        </a>
        <a href="" class="services__item">
            <img src="img/service9.svg" alt="">
            <span>Костная пластика</span>
        </a>
        <a href="" class="services__item">
            <img src="img/service4.svg" alt="">
            <span>Эстетическая стоматология</span>
        </a>
        <a href="" class="services__item">
            <img src="img/service7.svg" alt="">
            <span>Лазерная стоматология</span>
        </a>
        <a href="" class="services__item">
            <img src="img/service8.svg" alt="">
            <span>Отбеливание зубов</span>
        </a>
        <a href="" class="services__item">
            <img src="img/service.svg" alt="">
            <span>Лечение дёсен</span>
        </a>
        <a href="" class="services__item">
            <img src="img/service.svg" alt="">
            <span>Виниры</span>
        </a>
        <a href="" class="services__item">
            <img src="img/service3.svg" alt="">
            <span>Исправление прикуса</span>
        </a>
        <a href="" class="services__item">
            <img src="img/service10.svg" alt="">
            <span>Лечение каналов</span>
        </a>
        <a href="" class="services__item">
            <img src="img/service2.svg" alt="">
            <span>Лечение зубов</span>
        </a>
        <a href="" class="services__item">
            <img src="img/service.svg" alt="">
            <span>Профессиональная гигиена полости рта</span>
        </a>
        <a href="" class="services__item">
            <img src="img/service.svg" alt="">
            <span>Синуслифтинг</span>
        </a>
        <a href="" class="services__item">
            <img src="img/service5.svg" alt="">
            <span>Лечение кариеса</span>
        </a>
    </div>
</div>