@import "vars";
.doctor-card {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        background-image: url(../img/card-shadow.svg);
        height: 100%;
        width: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        bottom: -147px;
        left: 0;
        opacity: 0;
        transition: all .225s;
    }
    &:hover {
        &::before {
            opacity: 1;
        }
        .doctor-card {
            &__inner {
                background: #FFFFFF;
            }
            &__btn {
                background: $dark;
                color: #FFFFFF;
                width: 232px;
                &:hover {
                    color: #FFFFFF;
                    background-color: $blue;
                }
                svg {
                    display: unset;
                    margin-left: 10px;
                }
            }
        }
    }
    &__inner {
        border-radius: 24px;
        overflow: hidden;
        padding-bottom: 24px;
        transition: all .225s;
        position: relative;
        z-index: 2;
    }
    &__img {
        background-color: $lightBlue;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border-radius: 24px;
        overflow: hidden;
        height: 388px;
        img {
            max-width: 100%;
            max-height: 100%;
            display: block;
        }
    }
    &__title {
        font-size: 17px;
        line-height: 165%;
        margin-top: 24px;
        display: block;
        text-align: center;
    }
    &__prof,
    &__expirience {
        font-size: 14px;
        line-height: 186%;
        margin-top: 8px;
        color: $grey;
        text-align: center;
    }
    &__expirience {
        margin-top: 4px;
    }
    &__btn {
        width: 206px;
        height: 56px;
        margin: 23px auto 0;
        border-radius: 60px;
        font-weight: 600;
        font-size: 13px;
        text-transform: uppercase;
        svg {
            display: none;
            // margin-bottom: 3px;
        }
        span {
            margin-top: 2px;
        }
    }
}

.work-card {
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 24px;
    min-height: 300px;
    img {
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
    &__left-badge {
        background: rgba(19, 33, 70, 0.4);
        border-radius: 0px 20px 20px 20px;
        width: 54px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
    }
}

.feedback-card {
    display: flex;
    &__left {
        width: 158px;
        flex-shrink: 0;
        margin-right: 32px;
    }
    &__right {
        flex-grow: 1;
    }
    &__name,
    &__date,
    &__text,
    &__by {
        font-size: 14px;
        line-height: 186%;
        color: $grey;
        margin-bottom: 2px;
        display: block;
    }
    &__text {
        color: $black;
    }
    &__by {
        margin-bottom: 0;
        margin-top: 20px;
        a {
            color: $blue;
        }
    }
}

.feedback-card2 {
    display: flex;
    &__left {
        width: 158px;
        flex-shrink: 0;
        margin-right: 32px;
    }
    &__right {
        flex-grow: 1;
    }
    &__top {
        display: flex;
        align-self: center;
    }
    &__doctor,
    &__title,
    &__name,
    &__date,
    &__text,
    &__by {
        font-size: 14px;
        line-height: 186%;
        color: $grey;
        margin-bottom: 2px;
        display: block;
    }
    &__date {
        margin-left: 12px;
    }
    &__text {
        color: $black;
    }
    &__title {
        margin-bottom: 0;
    }
    &__doctor {
        color: $blue;
    }
    &__by {
        margin-bottom: 0;
        margin-top: 20px;
        a {
            color: $blue;
        }
    }
    &__img {
        width: 80px;
        height: 80px;
        margin-top: 24px;
        position: relative;
        border-radius: 24px;
        overflow: hidden;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }
}

.twentytwenty-overlay {
    border-radius: 24px;
    overflow: hidden;
}

.twentytwenty-handle {
    width: 48px;
    height: 48px;
    background-color: $blue;
    border: 6px solid rgba($blue, 0.4);
    box-sizing: border-box;
    &:after,
    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        background: $blue !important;
        box-shadow: none !important;
    }
}

.twentytwenty-after-label,
.twentytwenty-before-label {
    border-radius: 24px;
    opacity: 1 !important;
    &:before {
        content: 'после';
        position: absolute;
        z-index: 1;
        top: unset !important;
        margin-top: 0 !important;
        bottom: 3px;
        right: 3px !important;
        background: rgba(19, 33, 70, 0.4) !important;
        border-radius: 20px 0px 20px 20px !important;
        width: 83px;
        height: 30px;
        padding: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1 !important;
    }
}

.twentytwenty-before-label {
    &::before {
        content: 'до';
        border-radius: 0px 20px 20px 20px !important;
        width: 54px;
        height: 30px;
        left: 5px !important;
    }
}

.twentytwenty-left-arrow {
    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 6px solid rgba($blue, 0.4);
        left: -19px;
        top: -30px;
        box-sizing: border-box;
        // poin
    }
}

@media screen and (max-width: 1200px) {
    .work-card {
        min-height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .doctor-card {
        &__inner,
        &__img {
            border-radius: 0;
        }
    }
    .twentytwenty-overlay,
    .work-card,
    .twentytwenty-after-label,
    .twentytwenty-before-label {
        border-radius: 0;
    }
    .feedback-card {
        display: block;
        &__left {
            width: 100%;
            margin: 0 0 24px 0;
        }
        &__text {
            line-height: 156%;
        }
    }
    .feedback-card2 {
        display: block;
        &__left {
            width: 100%;
            margin: 0 0 24px 0;
        }
        &__text {
            line-height: 156%;
        }
    }
}

@media screen and (max-width: 576px) {
    .work-card {
        min-height: 300px;
    }
    .twentytwenty-after-label {
        &::before {
            bottom: 0 !important;
            right: 0 !important;
            border-radius: 0 !important;
        }
    }
    .twentytwenty-before-label {
        &::before {
            bottom: 0 !important;
            left: 0 !important;
            border-radius: 0 !important;
        }
    }
}

@media screen and (max-width: 450px) {
    .work-card {
        min-height: 220px;
    }
}